
<div>
	<label>See what books are available to borrow:</label>
	<button class="dbBookSearch">Browse Available Books</button>
	<br>
	<!-- Add if logged in to this -->
	<label>Add a book to your Library or Wishlist:</label>
	<button class="googleBookSearch">Add a Book</button>
</div>
<form id="search-form" action="/search" method="get">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<select id="search-type">
		    <option class="option" value="title-search">Title</option>
		    <option class="option" value="author-search">Author</option>
		    <option class="option" value="genre-search">Genre</option>
		    <option class="option" value="isbn-search">ISBN</option>
  		</select>
	<input class="query-input" type="text" name="book-search">
	<button>Search</button>
</form>

<div class="results"></div>

<script>
	var $searchForm = $('#search-form');
	var $queryInput = $('.query-input');
	var $resultsDiv = $('.results')

	// Search hidden so user cannot search without stating if searching DB or Google
	document.getElementById("search-form").style.display="none";

	// lendBook search returns results from Google and gives the option to add to Database 
	$('.googleBookSearch').on('click', function() {
		document.getElementById("search-form").style.display="";
		$queryInput.attr('placeholder', "Search Books to Add")
		var urlprefix = 'https://www.googleapis.com/books/v1/volumes?q=';

		$('#search-type').change(function(){
			if ($(this).val() == 'author-search') {
				urlprefix = 'https://www.googleapis.com/books/v1/volumes?q=authors:'
			} else if ($(this).val() == 'genre-search') {
				urlprefix = 'https://www.googleapis.com/books/v1/volumes?q=subject:'
			} else if ($(this).val() == 'isbn-search') {
				urlprefix = 'https://www.googleapis.com/books/v1/volumes?q=isbn:'
			} else {
				urlprefix = 'https://www.googleapis.com/books/v1/volumes?q=';
			}
		})

			$searchForm.on('submit', function(event) {
			event.preventDefault();
			$resultsDiv.empty();
			
			var options = {
				url: urlprefix + $queryInput.val() +'&apikey=2f6435d9'
			}

			var showResults = function(res) {	
				res.items.slice(0,20).forEach(function(book) {
					var $form = $('<form>')
						.attr('action', '/books/' + book.volumeInfo.title)
					var $h3 = $('<h3>').addClass('title');
					var $a = $('<a>')
						.text(book.volumeInfo.title);
					$h3.append($a);
					var $h5 = $('<h5>').text("ISBN_13: " + book.volumeInfo.industryIdentifiers[1].identifier)
					$resultsDiv.append($h3).append($h5);
					book.volumeInfo.authors && book.volumeInfo.authors.forEach(function(author) {
						var $p = $('<p>').text("Written by: " + author);
						$resultsDiv.append($p);
					});
					var $p = $('<p>').text("Date of Publication: " + book.volumeInfo.publishedDate);
					var $img = $('<img >')
						.attr('src', book.volumeInfo.imageLinks.thumbnail);
					var $addToWishlist = $('<button>')
						.attr('class', 'addToWishlist')
						.text('add to wishlist');
						$('.addToWishlist').on('click', function() {
							console.log('test add to wishlist');
						})
					var $addToLibrary = $('<button>')
						.attr('class', 'addToLibrary')
						// .attr('target', '_blank')
						// .attr('href', "/mybooks/#{book.volumeInfo.title}")				
						.text('add to Library');
						$('.addToLibrary').on('click', function(event) {
							console.log(event.currentTarget);
						})				
					$form.append($p).append($img).append($addToWishlist).append($addToLibrary);
					$resultsDiv.append($form)
				});
			}
		$.ajax(options).done(showResults);
		})
	})

	// borrowBook searches database to see if it's availble to borrow
	$('.dbBookSearch').on('click', function() {
		// display search bar
		document.getElementById("search-form").style.display="";
		$queryInput.attr('placeholder', "Search Books to Borrow")
		// Select search type
		var $searchBy = ''
		$('#search-type').change(function(){
			if ($(this).val() == 'author-search') {
				console.log('<%=@books.last.title%>');
				$searchBy = 'author';
			} else if ($(this).val() == 'genre-search') {
				$searchBy = 'genre';
			} else if ($(this).val() == 'isbn-search') {
				$searchBy = 'isbn';
			} else {
				$searchBy = 'title';
			}
		})
		// Perform search with above search type
		$searchForm.on('submit', function(event) {
			event.preventDefault();
			$resultsDiv.empty();
			if ($searchBy = 'author') {
				console.log($queryInput.val());
				<%@books = Book.where(author: %> + $queryInput.val() + <%) %>
				console.log(<%@books.first.title%>);
			}
		});
	});

</script>


<div id="map_wrapper">
    <div id="map_canvas" class="mapping"></div>
</div>
