
<h1>Homepage</h1>
<a href='/users/new'>Create new user</a>


<p>Hi Martine, I am a chrome plugin that will read to you what is on the screen. I won't cost you much. Just your soul.
By the way, Sherief is so awesome</p>



<div id="map_wrapper">
    <div id="map_canvas" class="mapping"></div>
</div>


<!-- 
<div class="map"> 
</div>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTrzql0pdZs-GLtUTuhqjRXjpCRwLU8sk&callback=initMap">
</script>
 

 -->
 