<nav>
    <div class="header_title">
        <span>THE BOOK SWAP</span>
    </div>
    <div class="nav_buttons">
        <a href="">MENU BUTTON 1</a>
        <a href="">MENU BUTTON 2</a>
        <a href="">MENU BUTTON 3</a>
        <a href="">MENU BUTTON 4</a>
    </a>

</nav>

        <a href="">MENU BUTTON 4</a>
