<div class="book-info">
<h1 class="title">Title</h1>
<p class="author">Author</p>
<%= 'ISBN: ' + @book.isbn_id %><br>
<p class="year">Published Year</p>
<img src="https://images.gr-assets.com/books/1378145309l/18271327.jpg">
<p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore necessitatibus dolore impedit illum minus qui! Odit sequi ab hic reprehenderit deleniti, libero sint, error velit autem, obcaecati commodi voluptas iste?</p>
</div>


<div class="reviews">
<h1>Critic Reviews</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo fugiat explicabo cum praesentium vero architecto dicta, molestias libero asperiores magnam maiores quasi aut repellat eum deleniti consectetur sit sapiente recusandae.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias quasi voluptates alias repellendus animi aperiam exercitationem ab, totam porro voluptatem, accusantium quos deserunt laboriosam soluta velit voluptate, nobis numquam nihil?</p>
</div>

<button>Borrow</button>
<button>Add to Wishlist</button>


<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script>

var options =  {
		url: 'https://www.googleapis.com/books/v1/volumes?q=isbn:0062502182&key=AIzaSyCb3xZRndlaQt34LVdpUYU6nHwvNTfb4K0'		
	}

var showResults = function(res) {
    console.log(res)
    console.log(res.items[0].volumeInfo.authors)
    document.querySelector('.title').textContent = res.items[0].volumeInfo.title;
    console.log(res.items[0].volumeInfo.title)
    document.querySelector('.author').textContent = res.items[0].volumeInfo.authors.join(' ');
    document.querySelector('.year').textContent = res.items[0].volumeInfo.publishedDate;

}

$.ajax(options).done(showResults);

var options = {
    url: "http://idreambooks.com/api/books/reviews.json?q=0062502182&key=30f1b909406671dd6bfb87471ad75eff8ca9bf3a"
}

var showResults = function(res) {
    console.log(res)
}

$.ajax(options).done(showResults);
</script> 