<div class="book-info">
<h1 class="title"></h1>
<p class="author"></p>
<%= 'ISBN: ' + @book.isbn_id %><br>
<p class="year"></p>
<img class="poster" src="">
<p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore necessitatibus dolore impedit illum minus qui! Odit sequi ab hic reprehenderit deleniti, libero sint, error velit autem, obcaecati commodi voluptas iste?</p>
</div>


<h1 class="critic_reviews">Critic Reviews</h1>
<div class="reviews">

</div>
<p class="rating"></p>

<button>Borrow</button>
<button>Add to Wishlist</button>


<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script>

var options =  {
		url: 'https://www.googleapis.com/books/v1/volumes?q=isbn:0062502182&key=AIzaSyCb3xZRndlaQt34LVdpUYU6nHwvNTfb4K0'		
	}

var showResults = function(res) {
    console.log(res)
    console.log(res.items[0].volumeInfo.authors)
    document.querySelector('.title').textContent = res.items[0].volumeInfo.title;
    console.log(res.items[0].volumeInfo.title)
    document.querySelector('.author').textContent = res.items[0].volumeInfo.authors;
    document.querySelector('.year').textContent = res.items[0].volumeInfo.publishedDate;
    document.querySelector('.description').textContent = res.items[0].volumeInfo.description;
    document.querySelector('.poster').src = res.items[0].volumeInfo.imageLinks.thumbnail;


}

$.ajax(options).done(showResults);

var options = {
    url: "http://idreambooks.com/api/books/reviews.json?q=0062502182&key=30f1b909406671dd6bfb87471ad75eff8ca9bf3a"
}

var showResults = function(res) {
    var reviews = res.book.critic_reviews;
    console.log('r', reviews)
    
    // document.querySelector('.reviews').textContent = reviews;
    // reviews = document.querySelector('.reviews').textContent = "sgfsgdfgdfsgsdfgsdfgdfgs"
    // console.log("dgdfgd" + res)
    
    for(var x = 0; x < reviews.length; x++) {
        // var reviews = document.querySelector('.reviews').textContent = res.book.critic_reviews[x].snippet;
        // return reviews[x].snippet

        console.log(reviews[x].snippet)
        // make a p elem
        var $p = $('<p>')
        $p.text(reviews[x].snippet) // text() is textContent =
        // append $p to which .reviews
        $('.reviews').append( $p );

    }

    // for (var i = 0; i < reviews.length; i++) {
    //     console.log(reviews[i].snippet)
    //     return reviews[i].snippet.source;
        
    // } 
    document.querySelector('.critic_reviews')
    document.querySelector('.rating').textContent = "Star rating: " + res.book.critic_reviews[0].star_rating;
    console.log(res.book.critic_reviews[0].star_rating)
}

$.ajax(options).done(showResults);
</script> 