/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= google_maps

 */



*{
    /* border: 1px lightgray solid; */
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
nav{
    height: 123px;
    width: 100%;
    margin: auto auto;
    /* background-color: mistyrose; */
    /* background-image: image-url("nav_background.jpg"); */
    /* background-image: url(image-path("nav_background.jpg")); */
    /* background-image: url('images/nav_background.jpg'); */
    /* background-image: url(<%= asset_path(nav_background.jpg") %>);  */
    background-image: asset-url('images/nav_background.jpg');

    display: flex;
 }

 nav .title{
    margin-left: 10px;
    line-height: 100px;
    width: 40%;

}

nav .title a{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    text-decoration-line: none;
}

nav .nav_buttons{
    width: 60%; 
    text-align: right;
    padding-top: 40px;
}

nav .nav_buttons a{
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
 }

 nav .nav_buttons a:hover{
    color: red;
}

nav a{
    text-shadow: 5px 5px 8px rgba(150, 150, 150, 0.45);
    color: white;
 }

nav label{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;

}

 /* #book_swap_header{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
 } */
 
 

 nav a:visited{

 }


 .map {
    height: 500px;
    margin: 0;
    padding: 0;

  }

  .firstHeading{
  }


#map_wrapper {
    height: 400px;
}

#map_canvas {
    width: 100%;
    height: 100%;

}